body, html {
	margin: 0;
	padding: 0; 
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Sans', sans-serif;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}

p {
	text-align: justify;
	font-weight: 400;
	font-style: normal;
}

p, span, li {
	font-family: 'Droid Serif', serif;
}

section {
	padding: 15%;
	padding-top: 65px;
	padding-bottom: 65px;
}

footer {
	box-sizing: border-box;
	width: 100%;
	padding: 30px;
}

footer p{
	width: 200px;
	margin: 0 auto;
	text-align: center;
	font-size: 11px;
}

